body {
    background: orange;
    border-radius: 5%;
    border-color: black;
}

#badge {
    background-color: rgb(112, 199, 233);
    width: 200px;
    height: 305px;
    /* 8.25x5.4 */
    border: 5px, 5px, 5px, 5px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
}